header {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
}

article,
nav {
    margin-bottom: 15px;
    text-align: center;

}

.photo {
    margin-bottom: 20px;
    text-align: center;
}

a:hover {
    color: #154088;
    border-bottom: .07em solid;
}

a:active {
    color: #526118;
    border-bottom: 1px dashed;
}

ul {
    list-style-position: inside;
    list-style-type: square;
}
.footer-bg {
    background: #F5F5F5;
}
footer {

    text-align: center;
}
