header {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baloo Chettan 2', cursive;
    background: #F5F5F5;
}

main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #e8dcdc;
}
h1 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}
.contact {
    width: 50%;
    float: left;
}
.summary {
    width: 50%;
    float: left;
}
.skills {
    width: 50%;
    float: left;
}
.code-examples {
    width: 50%;
    float: left;
}
.experience {
    width: 33.3333333333%;
    float: left;
}
.education {
    width: 33.3333333333%;
    float: left;
}
.english {
    width: 33.3333333333%;
    float: left;
}
.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.photo {
    margin-bottom: 20px;
    text-align: center;
}

a:hover {
    color: #154088;
    border-bottom: .07em solid;
}

a:active {
    color: #526118;
    border-bottom: 1px dashed;
}
ul {
    list-style-position: inside;
    list-style-type: square;
}
p {  margin: 1em auto; }

footer {
    text-align: center;
    background: #F5F5F5;
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baloo Chettan 2', cursive;
}